@font-face   {
    font-family: Palatino Linotype; 
    src: url({% static "Palatino.ttf" %});
}

body {
    font-family: Palatino, serif;
    line-height: 1.2;
}

.header {
    text-align: center;
    font-size: x-large;
}

.main {
    padding-left: 50px;
}

.sidenav {
    width: 230px;
    /* position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px; */
    /* background: #eee; */
    /* overflow-x: hidden; */
    /* padding: 8px 0; */
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}

.sidenav a.fa {
    display: inline;
    padding: 5px;
}

div.fa {
    padding-left: 16px;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    /* margin-left: 280px; Same width as the sidebar + left position in px */
    font-size: 20px;
}

/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} */

@media screen and (min-width: 500px) {

    * {
        box-sizing: border-box;
    }

    .main {
        float: left;
    }

    .sidenav {
        float: left;
    }

}

#logo {
    max-width: 100%;
    max-height: 100%;
}

hr {
    color: rgb(300, 300, 300);
}

td {
    padding-right: 7px;
}

.anchor-link {
  opacity: 0;
  margin-left: 10px;
  text-decoration: none;
}
.header-with-anchor:hover .anchor-link {
  opacity: 1;
}
